<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Demo4TableViewWithSectionIndex</key>
	<array>
		<dict>
			<key>title</key>
			<string>A</string>
			<key>datas</key>
			<array>
				<dict>
					<key>icon</key>
					<string>00</string>
					<key>name</key>
					<string>A1</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>02</string>
					<key>name</key>
					<string>A2</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>03</string>
					<key>name</key>
					<string>A3</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>04</string>
					<key>name</key>
					<string>A4</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>05</string>
					<key>name</key>
					<string>A5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>B</string>
			<key>datas</key>
			<array>
				<dict>
					<key>icon</key>
					<string>00</string>
					<key>name</key>
					<string>B1</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>02</string>
					<key>name</key>
					<string>B2</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>03</string>
					<key>name</key>
					<string>B3</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>04</string>
					<key>name</key>
					<string>B4</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>05</string>
					<key>name</key>
					<string>B5</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>D</string>
			<key>datas</key>
			<array>
				<dict>
					<key>icon</key>
					<string>00</string>
					<key>name</key>
					<string>D1</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>02</string>
					<key>name</key>
					<string>D2</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>03</string>
					<key>name</key>
					<string>D3</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>04</string>
					<key>name</key>
					<string>D4</string>
				</dict>
				<dict>
					<key>icon</key>
					<string>05</string>
					<key>name</key>
					<string>D5</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>mainview</key>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>image</key>
				<string>01</string>
				<key>name</key>
				<string>demo1Button</string>
			</dict>
			<dict>
				<key>image</key>
				<string>02</string>
				<key>name</key>
				<string>demo2SimpleImageBrowser</string>
			</dict>
			<dict>
				<key>image</key>
				<string>03</string>
				<key>name</key>
				<string>demo3ScrollviewZoom</string>
			</dict>
            <dict>
                <key>image</key>
                <string>04</string>
                <key>name</key>
                <string>demo4TableviewWithSectionIndex</string>
            </dict>
            <dict>
                <key>image</key>
                <string>05</string>
                <key>name</key>
                <string>demo5Quartz2D</string>
            </dict>
            <dict>
                <key>image</key>
                <string>06</string>
                <key>name</key>
                <string>demo6CalayerSimpleTest</string>
            </dict>
            <dict>
                <key>image</key>
                <string>07</string>
                <key>name</key>
                <string>demo7BaseAnimation</string>
            </dict>
            <dict>
                <key>image</key>
                <string>08</string>
                <key>name</key>
                <string>demo8KeyframeAnimation</string>
            </dict>
            <dict>
                <key>image</key>
                <string>09</string>
                <key>name</key>
                <string>demo9Transition</string>
            </dict>
            <dict>
                <key>image</key>
                <string>10</string>
                <key>name</key>
                <string>demo10FMDB</string>
            </dict>
		</array>
	</dict>
	<key>Demo2ImageBorwser</key>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>image</key>
				<string>00</string>
				<key>name</key>
				<string>image00</string>
			</dict>
			<dict>
				<key>image</key>
				<string>01</string>
				<key>name</key>
				<string>image01</string>
			</dict>
			<dict>
				<key>image</key>
				<string>02</string>
				<key>name</key>
				<string>image02</string>
			</dict>
			<dict>
				<key>image</key>
				<string>03</string>
				<key>name</key>
				<string>image03</string>
			</dict>
			<dict>
				<key>image</key>
				<string>04</string>
				<key>name</key>
				<string>image04</string>
			</dict>
			<dict>
				<key>image</key>
				<string>05</string>
				<key>name</key>
				<string>image05</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
